<div id="main-div">
  @if (isUpdating()) {
  <form class="info" (submit)="onSubmitUpdate()">
    <input class="info-item" id="nome" name="nome" type="text" [(ngModel)]="investimentoToUpdate.nome" />
    <input class="info-item" id="tipo" name="tipo" type="text" [(ngModel)]="investimentoToUpdate.tipo" />
    <input class="info-item" id="valor" name="valor" type="number" [(ngModel)]="investimentoToUpdate.valor" />
    <input class="info-item" id="data" name="data" type="date" [(ngModel)]="investimentoToUpdate.data" />
    <div class="button-div">
      <button type="submit">Atualizar</button>
      <button type="button" (mousedown)="onCancelUpdate()" >Cancelar</button>
    </div>
  </form>
  } @else {
  <div class="info">
    <span class="info-item">{{ investimento.nome }}</span>
    <span class="info-item">{{ investimento.tipo }}</span>
    <span class="info-item">{{ investimento.valor }}</span>
    <span class="info-item">{{ investimento.data }}</span>
    <div class="button-div">
      <button (mousedown)="onStartUpdate()">Atualizar</button>
      <button (mousedown)="onDelete()">Deletar</button>
    </div>
  </div>
  }
</div>
