h1 {
  font-size: 3.125rem;
  color: white;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
  margin-bottom: .5%;
}

h1:hover {
  cursor:pointer
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  display: inline;
  align-items: center;
  padding: .8rem;
  box-sizing: inherit;
}

header {
  display: flex;
  background-color: #0077b6;
  flex-direction: column;
  justify-items: center;
}

nav {
  background-color: #00a8e8;
}


.link:hover {
  background-color: #00669c;
  cursor:pointer;
}

.link {
  /* width: 100%;
  height: 100%; */
  padding: 1vh;
  display: block;
  background-color: #0077b6;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;

}

menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  margin: .5% 40%;
  padding-left: 0;
}

footer {
  position: static;
  background: #333;
  color: white;
  text-align: center;
  padding: 0
}
